:root {
    --pas-txt: #212121;
    --act-link-txt: #2196F3;
    --act-btn-txt: #FFFFFF;
    --hd-cont-txt: #757575;
    --ftr-cont-txt: rgba(255, 255, 255, 0.6);
    --sol-bcg: #2F303A;
    --hero-bcg: #E5E5E5;
    --team-bcg: #F5F4FA;    
    }

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--pas-txt);
    background-color: var(--act-btn-txt);    
}

h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }

img {
    display: block;
}

.list {    
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    }

/*------------------------header-------------------------*/

.header {
    border-bottom: 1px solid #ECECEC;
    background: var(--act-btn-txt);    
    }

.header .container { 
    display: flex;
    align-items: center;
}

.header-logo {
        display: flex;
        align-items: center;        
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;            

        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31/26);          
        color: var(--pas-txt);        
    }

.header-logo-blue {
        color: var(--act-link-txt);        
        }

.header-menu {
    display: flex;
    align-items: center;      
}

.header-m-item {    
    margin-right: 50px;
}

.header-m-item:last-child {
    margin-right: 0;
}

.header-link {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        
        font-weight: 500;
        line-height: calc(16/14);
        letter-spacing: 0.02em;
        color: var(--pas-txt);
        
        }

.header-link.current {
    color: var(--act-link-txt);
}

.header-link:hover,
.header-link:focus {
    color: var(--act-link-txt);
}

.header-contact {
    display: flex;
    align-items: center;
    margin-left: auto;    
}

.header-c-item:not(:last-child) {
    margin-right: 50px;
}

.header-mail,
.header-tel {
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;        

        font-weight: 500;        
        line-height: calc(16/14);
        letter-spacing: 0.02em; 
        color: var(--hd-cont-txt);        
    }    

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
    color: var(--act-link-txt);
}

/*------------------------main------------------------*/

/*------------solutions------------*/

.solutions {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    
    background-color: var(--sol-bcg);
}

.solutions-title {
        margin-bottom: 30px;
                
        font-weight: 900;
        font-size: 44px;
        line-height: calc(60/44);        
        letter-spacing: 0.06em;
        text-transform: uppercase;    
        color: var(--act-btn-txt);        
}

.solutions-button {
        display: inline-block;
        border-radius: 4px;
        border: 1px solid transparent;
        padding: 10px 32px;
        
            
        font-weight: 700;
        font-size: 16px;
        line-height: calc(30/16);                 
        color: var(--act-btn-txt);      
        background: var(--act-link-txt);
        cursor: pointer;
        
}

/*------------benefits-------------*/

.benefits {
    padding-top: 94px;
    padding-bottom: 94px;    
    border-color: var(--hero-bcg);
}

.benefits-menu {
    display: flex;
}

.benefits-m-item {
    width: 270px;
    margin-right: 30px;
}

.benefits-m-item:last-child {
    margin-right: 0;
}

.benefits-title{
    margin-bottom: 10px;

    font-weight: 700; 
    font-size: 14px;   
    line-height: calc(16/14);    
    text-transform: uppercase;    
    }

.benefits-text {       
    line-height: calc(24/14);    
    color: var(--hd-cont-txt);
}

/*------------doing------------*/

.doing {
    padding-bottom: 94px;
    border-color: var(--hero-bcg);
        
}

.doing-menu {
    display: flex;
    }

.doing-title {
        text-align: center;
        margin-bottom: 50px;

        font-weight: 700;
        font-size: 36px;
        line-height: calc(42/36);                  
}

.doing-item {
    margin-right: 30px;
}

.doing-item:last-child {
    margin-right: 0;
}

/*------------team------------*/

.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;

    background-color: var(--team-bcg);    
}

.team-menu {
    display: flex;
    }

    .team-item:not(:last-child) {
        margin-right: 30px;
    }

.team-title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    }

.team-member {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-m-title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);    
}

.team-text {
    font-size: 16px;
    line-height: calc(19/16);        
    color: var(--hd-cont-txt);
    
}

/*------------clients----------- */

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title {
    text-align: center;
    margin-bottom: 50px;
    
    
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);        
}

/*------------portfolio_button------------*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;    
}

.portfolio-b {
    display: flex;    
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-b-item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-button {
    display: inline-block;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    background: var(--team-bcg);
    cursor: pointer;    
    }

.portfolio-button:hover,
.portfolio-button:focus {
    background: var(--act-link-txt);
    color: var(--act-btn-txt);
}

/*------------portfolio_menu------------*/

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-m-item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;    
}

.portfolio-m-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-m-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-m-project {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;

}

.portfolio-m-title {
        margin-bottom: 4px;
        
        font-weight: 700;
        font-size: 18px;
        line-height: calc(36/18);
        letter-spacing: 0.06em;
        color: var(--pas-txt);  
}

.portfolio-m-text {
        font-size: 16px;
        line-height: calc(30/16);           
        color: var(--hd-cont-txt);
}

/*------------------------footer------------------------*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--sol-bcg);    
}

.footer-logo {
    margin-bottom: 20px;

    display: inline-block;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    color: var(--act-btn-txt);
        
}

.footer-logo-blue {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: calc(31 / 26);
        letter-spacing: 0.03em;
        color: var(--act-link-txt);        
}

.footer-address {
    font-style: normal;    
}

.footer-m-item {
    display: block;
    }

.footer-m-item:not(:last-child) {
    margin-bottom: 9px;
}   

.footer-map {    
    line-height: calc(24/14);
    color: var(--act-btn-txt);    
}

.footer-mail {
    line-height: calc(24/14);
    color: rgba(255, 255, 255, 0.6);    
}

.footer-tel {        
        line-height: calc(24/14);            
        color: rgba(255, 255, 255, 0.6);                
}

.footer-map:hover,
.footer-map:focus
.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus{
    color: var(--act-link-txt);
}

